@use"./base/bodythemes";
@use"./base/header";
@use"./scsspages/index";
@use"./scsspages/about";
@use"./scsspages/projects";
@use"./scsspages/experience";
@use"./scsspages/contact";
@use"./base/footer";