/* About page */

.aboutmain {
    div {
        background-color: rgb(94, 190, 253);
        border-radius: 5px;

        .abouttlt {
            color: rgb(13, 13, 13);
            padding: 5px;
        }

        .hellotlt {
            color: rgb(13, 13, 13);
        }

        .extratlt {
            color: rgb(13, 13, 13);
        }

    }

    .meimgdiv {
        display: flex;
        align-items: center;

        .p1 {
            text-align: center;
            width: 53%;
            font-size: 45px;

            @media (max-width: 991px) {
                font-size: 20px;
            }
        }

        .meimg {
            width: 43%;
            border-radius: 15px;
            padding: 10px;
        }

    }
}

/* About page */