/* About page */
@use "sass:map";
@use "../utilities/maps" as colormap;
@use "../utilities/mixin";

.aboutmain {
    div {
        background-color: map.get(colormap.$colors, ligth-primary-color);
        border-radius: 5px;

        .abouttlt {
            color: map.get(colormap.$colors, secondary-color);
            padding: 5px;
        }

        .hellotlt {
            color:  map.get(colormap.$colors, secondary-color);
        }

        .extratlt {
            color:  map.get(colormap.$colors, secondary-color);
        }

    }

    .meimgdiv {
        @include mixin.flex-aling(flex, center, center);

        .p1 {
            text-align: center;
            width: 53%;
            font-size: 45px;

            @media (max-width: 991px) {
                font-size: 20px;
            }
        }

        .meimg {
            width: 43%;
            border-radius: 15px;
            padding: 10px;
        }

    }
}

/* About page */