/* Contact page */
@use "sass:map";
@use "../utilities/maps" as colormap;

.contact {
    display: flex;
    justify-content: center;

    .contimgdiv {
        display: flex;
        justify-content: center;

        .contimg {
            width: 200px;
            border-radius: 40px;
        }
    }

    .continfo {
        text-align: center;
    }

    .contlist {
        list-style-type: none;
    }

}

/* Contact page */