/* Contact page */
@use "sass:map";
@use "../utilities/maps" as colormap;
@use "../utilities/mixin";

.contact {
    @include mixin.flex-aling(flex, center, center);

    .contimgdiv {
        @include mixin.flex-aling(flex, center, center);

        .contimg {
            width: 200px;
            border-radius: 40px;

            @media (max-width: 500px) {
                width: 100%;

            }
        }
    }

    .continfo {
        text-align: center;
    }

    .contlist {
        list-style-type: none;
    }

}

/* Contact page */