/* Contact page */
@use "sass:map";
@use "../utilities/maps" as colormap;
@use "../utilities/mixin";

.contact {
    display: grid;
    column-gap: 50px;
    grid-template-columns: 1fr 1.7fr;

    @media (max-width: 991px) {
        display: grid;
        row-gap: 50px;
        grid-template-columns: none;
    }

    .contimgdiv {
        display: grid;
        justify-content: center;

        .contimg {
            width: 200px;
            border-radius: 4px;

            @media (max-width: 991px) {
                width: 250px;
            }

            @media (max-width: 500px) {
                width: 100%;
            }
        }
    }

    h3 {
        text-align: center;
        color: map.get(colormap.$colors, secondary-color);
    }

    .continfo {
        text-align: center;
    }

    .contlist {
        list-style: none;
        color: map.get(colormap.$colors, secondary-color);
    }

    .nametlt {
        color: map.get(colormap.$colors, secondary-color);
    }

    .emailtlt {
        color: map.get(colormap.$colors, secondary-color);
    }

    .numbertlt {
        color: map.get(colormap.$colors, secondary-color);
    }

    .texttlt {
        color: map.get(colormap.$colors, secondary-color);
    }

    .formbtn {
        display: grid;
        justify-content: end;
    }
}

/* Contact page */