/* Contact page */
@use "sass:map";
@use "../utilities/maps" as colormap;
@use "../utilities/mixin";

.contact {
    display: grid;
    column-gap: 50px;
    grid-template-columns: 1fr 2fr;

    .contimgdiv {
        display: grid;
        justify-content: center;

        .contimg {
            width: 200px;
            border-radius: 4px;
        }
    }

    h3 {
        text-align: center;
    }

    .continfo {
        text-align: center;
    }

    .contlist {
        list-style: none;
    }

    .nametlt {
        color: map.get(colormap.$colors, secondary-color);
    }

    .emailtlt {
        color: map.get(colormap.$colors, secondary-color);
    }

    .numbertlt {
        color: map.get(colormap.$colors, secondary-color);
    }

    .texttlt {
        color: map.get(colormap.$colors, secondary-color);
    }

    .formbtn {
        display: grid;
        justify-content: end;
    }
}

/* Contact page */