/* Experience page */
@use "sass:map";
@use "../utilities/maps" as colormap;
@use "../utilities/mixin";


.experiencemain {
    display: grid;
    row-gap: 35px;

    div {
        border-radius: 4px;
        background-color: map.get(colormap.$colors, ligth-primary-color);
    }

    .edu {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-areas:
            "edutlt  kaoedu"
            "edulist  kaoedu"
        ;

        @media (max-width: 991px) {
            display: grid;
            grid-template-areas:
                "edutlt  kaoedu"
                "edulist  edulist"
        }

        .kaoedu {
            grid-area: kaoedu;
            size: 100%;
            text-align: center;
            align-content: center;

            p {
                font-size: 40px;

                @media (max-width: 991px) {
                    font-size: 30px;
                }

                @media (max-width: 500px) {
                    font-size: 18px;
                }
            }
        }

        .edutlt {
            grid-area: edutlt;
            text-align: center;
        }

        .edulist {
            grid-area: edulist;
            display: grid;
            justify-content: center;
        }
    }

    .exp {

        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
            "kaoexp exptlt"
            "kaoexp explist"
        ;

        @media (max-width: 991px) {
            display: grid;
            grid-template-areas:
                "kaoexp exptlt"
                "explist explist"
        }

        .kaoexp {
            grid-area: kaoexp;
            size: 100%;
            text-align: center;
            align-content: center;

            p {
                font-size: 40px;

                @media (max-width: 991px) {
                    font-size: 30px;
                }

                @media (max-width: 500px) {
                    font-size: 20px;
                }
            }
        }

        .exptlt {
            grid-area: exptlt;
            text-align: center;
        }

        .explist {
            grid-area: explist;
            display: grid;
            justify-content: center;
            direction: rtl;
        }
    }


    .soft-lang {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "softtlt langtlt"
            "softicon1 spa"
            ". eng"
            " . jap"
        ;
        text-align: center;

        @media (max-width: 991px) {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas:
                "softtlt "
                "softicon1"
                "langtlt"
                "spa"
                "eng"
                "jap"
            ;
            text-align: center;
        }

        .softtlt {
            grid-area: softtlt;
            padding: 10px;
        }

        .langtlt {
            grid-area: langtlt;
            text-align: center;
            justify-content: center;
            align-content: center;
        }

        .softicon {
            grid-area: softicon1;
            justify-content: center;
            align-content: center;
        }

        .spa {
            grid-area: spa;

            .spatxt {
                font-size: 20px;
                margin: 0;
                padding: 0px 8px 0px 0px;
            }
        }

        .eng {
            grid-area: eng;

            .engtxt {
                font-size: 20px;
                margin: 0;
                padding: 0px 8px 0px 0px;
            }
        }

        .jap {
            grid-area: jap;

            .japtxt {
                font-size: 20px;
                margin: 0;
                padding: 0px 8px 0px 0px;
            }
        }
    }
}



/* Experience page */