/* Experience page */
@use "sass:map";
@use "../utilities/maps" as colormap;
@use "../utilities/mixin";
@use "../utilities/variables";
@use "../utilities/extend";


.experiencemain {
    display: grid;
    row-gap: variables.$row-gap2;

    div {
        border-radius: 4px;
        background-color: map.get(colormap.$colors, ligth-primary-color);
    }

    .edu {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-areas:
            "tlt tlt"
            "edutlt  kaoedu"
            "edulist  kaoedu"
        ;

        @media (max-width: 991px) {
            display: grid;
            grid-template-areas:
                "tlt tlt"
                "edutlt  kaoedu"
                "edulist  edulist"
        }

        .maintlt {
            grid-area: tlt;
            text-align: center;
            padding: 20px;
        }

        .kaoedu {
            grid-area: kaoedu;
            size: 100%;
            text-align: center;
            align-content: center;

            p {
                font-size: 55px;

                @media (max-width: 991px) {
                    font-size: 30px;
                }

                @media (max-width: 500px) {
                    font-size: 18px;
                }
            }
        }

        .edutlt {
            grid-area: edutlt;
            text-align: center;
        }

        .edulist {
            grid-area: edulist;
            display: grid;
            justify-content: center;
        }
    }

    .exp {

        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
            "kaoexp exptlt"
            "kaoexp explist"
        ;

        @media (max-width: 991px) {
            display: grid;
            grid-template-areas:
                "kaoexp exptlt"
                "explist explist"
        }

        .kaoexp {
            grid-area: kaoexp;
            size: 100%;
            text-align: center;
            align-content: center;

            p {
                font-size: 50px;

                @media (max-width: 991px) {
                    font-size: 30px;
                }

                @media (max-width: 500px) {
                    font-size: 20px;
                }
            }
        }

        .exptlt {
            grid-area: exptlt;
            text-align: center;
        }

        .explist {
            grid-area: explist;
            display: grid;
            justify-content: center;
            direction: rtl;

            @media (max-width: 991px) {
                justify-content: start;
            }
        }
    }


    .soft-lang {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "langtlt softtlt"
            "spa softicon1"
            "eng softicon2"
            "jap . "
        ;
        text-align: center;

        @media (max-width: 991px) {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas:
                "softtlt "
                "softicon1"
                "softicon2"
                "langtlt"
                "spa"
                "eng"
                "jap"
            ;
            text-align: center;
        }

        .softtlt {
            grid-area: softtlt;
            padding: 10px;
        }

        .langtlt {
            grid-area: langtlt;
            text-align: center;
            @extend %grid-aling;
            padding: 10px;
        }

        .softcodeicon {
            grid-area: softicon1;
            @extend %grid-aling;
        }

        .softarticon {
            grid-area: softicon2;
            @extend %grid-aling;
        }

        .spa {
            grid-area: spa;

            .spatxt {
                @extend %exp-text-style;
            }
        }

        .eng {
            grid-area: eng;

            .engtxt {
                @extend %exp-text-style;
            }
        }

        .jap {
            grid-area: jap;

            .japtxt {
                @extend %exp-text-style;
            }
        }
    }
}



/* Experience page */