/* Main page */
@use "sass:map";
@use "../utilities/maps" as colormap;

main {
    padding: 40px;

    div {
        background-color: map.get(colormap.$colors, primary-color);
        padding: 25px;
        border-radius: 5px;

        .fs-1 {
            color: map.get(colormap.$colors, secondary-color);
        }

        .mainbutton button {
            color:  map.get(colormap.$colors, secondary-color);
            width: 100%;
        }
    }
}

/* Main page */