/* Main page */

main {
    padding: 40px;

    div {
        background-color: rgb(115, 36, 36);
        padding: 25px;
        border-radius: 5px;

        .fs-1 {
            color: rgb(13, 13, 13);
        }

        .mainbutton button {
            color: rgb(23, 23, 23);
            width: 100%;
        }
    }
}

/* Main page */