/* Projects page */
@use "sass:map";
@use "../utilities/maps" as colormap;

.project {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;

    @media(max-width: 760px) {

        grid-template-columns: 100%;
        grid-template-rows: repeat(4, 250px);
        justify-content: center;

    }

    div {
        border-radius: 5px;
        position: relative;
        padding: 5px;
        margin: 15px;
        overflow: hidden;

        &:hover {
            .imge {
                transform: scale(1.5);
            }

            .imgp {
                transform: scale(1.5);
            }

            &:after {
                content: "";
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                position: absolute;
                border-radius: 5px;
                background-color: rgba(0, 0, 0, 0.727);
            }
        }

        .imgp {
            width: 100%;
            height: 100%;
            padding: 5px;
            transition: transform .5s;
        }

        .imge {
            width: 100%;
            height: 100%;
            padding: 5px;
            transition: transform .5s;
        }

        &:hover p {
            opacity: 1;
            transform: translate(0);
        }

        .full {
            width: 80%;
            text-align: center;
            top: calc(50% - 30px);
            left: 12%;
            position: absolute;
            color: map.get(colormap.$colors, forth-color);
            z-index: 2;
            opacity: 0;
            transform: translateX(-1000px);
            transition: transform .5s;


            @media(max-width: 760px) {

                width: 80%;
                text-align: center;
                top: calc(50% - 50px);
                left: 12%;
                position: absolute;
                color: map.get(colormap.$colors, forth-color);
                z-index: 2;
                opacity: 0;


            }
        }

        .empty {
            width: 80%;
            text-align: center;
            top: calc(50% - 30px);
            left: 12%;
            position: absolute;
            color: map.get(colormap.$colors, forth-color);
            z-index: 2;
            opacity: 0;
            transform: translateX(-1000px);
            transition: transform .5s;

            @media(max-width: 760px) {

                width: 80%;
                text-align: center;
                top: calc(50% - 35px);
                left: 12%;
                position: absolute;
                color: map.get(colormap.$colors, forth-color);
                z-index: 2;
                opacity: 0;


            }
        }
    }
}

/* Projects page */