body {
  background-image: url("../img/back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lighttheme {
  background-image: url("../img/lightback.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Header */
header {
  background-color: rgb(13, 13, 13);
}
header nav {
  height: 150px;
}
header nav .container-fluid {
  height: 100%;
}
header nav .container-fluid .navbar-brand {
  height: 100%;
}
header nav .container-fluid .logo {
  width: 50px;
}
header nav .container-fluid .offb {
  height: 90%;
}
header nav .container-fluid .offb .navbar-toggler {
  border-color: rgb(255, 255, 255);
}
header nav .container-fluid .offcanvas-header {
  background-color: rgb(13, 13, 13);
  height: 150px;
}
header nav .container-fluid .offcanvas-body {
  height: 120px;
}
header nav .container-fluid .offcanvas-body ul {
  height: 90%;
}
header nav .container-fluid .offcanvas-body form {
  height: 90%;
}

/* Header */
/* Main page */
main {
  padding: 40px;
  display: grid;
  row-gap: 50px;
}
main div {
  background-color: rgb(115, 36, 36);
  padding: 15px;
  border-radius: 5px;
}
main .indexcondiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "indextlt indeximg" "indextxt indeximg" "indexbtn indeximg";
}
@media (max-width: 991px) {
  main .indexcondiv {
    display: grid;
    justify-items: center;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-areas: "indextlt" "indeximg" "indeximg" "indextxt" "indexbtn";
  }
}
main .indexcondiv .indexcontlt {
  color: rgb(13, 13, 13);
  grid-area: indextlt;
}
main .indexcondiv .indexcontxt {
  color: rgb(13, 13, 13);
  grid-area: indextxt;
}
main .indexcondiv .indexconimg {
  grid-area: indeximg;
  display: grid;
  justify-items: center;
}
main .indexcondiv .indexconimg img {
  width: 70%;
  border-radius: 5px;
}
main .indexconbtn a {
  grid-area: indexbtn;
}
main .indexconbtn a button {
  width: 100%;
  color: rgb(13, 13, 13);
}
main .indexprobtn {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: " . btn . ";
}
main .indexprobtn a {
  display: grid;
  grid-area: btn;
  text-decoration: none;
  padding: 5px;
}
main .indexprobtn a button {
  color: rgb(13, 13, 13);
}
main .indexprotxt {
  display: grid;
  justify-content: center;
  padding: 0;
}
main .indexprotxt p {
  padding: 5px;
  color: rgb(13, 13, 13);
}

/* Main page */
/* About page */
.aboutmain div {
  background-color: rgb(94, 190, 253);
  border-radius: 5px;
}
.aboutmain div .abouttlt {
  color: rgb(13, 13, 13);
  padding: 5px;
}
.aboutmain div .hellotlt {
  color: rgb(13, 13, 13);
}
.aboutmain div .extratlt {
  color: rgb(13, 13, 13);
}
.aboutmain .meimgdiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 991px) {
  .aboutmain .meimgdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.aboutmain .meimgdiv .p1 {
  text-align: center;
  width: 53%;
  font-size: 45px;
}
@media (max-width: 991px) {
  .aboutmain .meimgdiv .p1 {
    font-size: 18px;
  }
}
.aboutmain .meimgdiv .meimg {
  width: 43%;
  border-radius: 15px;
  padding: 10px;
}
@media (max-width: 991px) {
  .aboutmain .meimgdiv .meimg {
    width: 100%;
  }
}

/* About page */
/* Projects page */
.project {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}
@media (max-width: 760px) {
  .project {
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, 250px);
    justify-content: center;
  }
}
.project div {
  border-radius: 5px;
  position: relative;
  padding: 5px;
  margin: 15px;
  overflow: hidden;
}
.project div:hover .imge {
  transform: scale(1.5);
}
.project div:hover .imgp {
  transform: scale(1.5);
}
.project div:hover:after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.727);
}
.project div .imgp {
  width: 100%;
  height: 100%;
  padding: 5px;
  transition: transform 0.5s;
}
.project div .imge {
  width: 100%;
  height: 100%;
  padding: 5px;
  transition: transform 0.5s;
}
.project div:hover p {
  opacity: 1;
  transform: translate(0);
}
.project div .full {
  width: 80%;
  text-align: center;
  top: calc(50% - 30px);
  left: 12%;
  position: absolute;
  color: rgb(255, 255, 255);
  z-index: 2;
  opacity: 0;
  transform: translateX(-1000px);
  transition: transform 0.5s;
}
@media (max-width: 760px) {
  .project div .full {
    width: 80%;
    text-align: center;
    top: calc(50% - 50px);
    left: 12%;
    position: absolute;
    color: rgb(255, 255, 255);
    z-index: 2;
    opacity: 0;
  }
}
.project div .empty {
  width: 80%;
  text-align: center;
  top: calc(50% - 30px);
  left: 12%;
  position: absolute;
  color: rgb(255, 255, 255);
  z-index: 2;
  opacity: 0;
  transform: translateX(-1000px);
  transition: transform 0.5s;
}
@media (max-width: 760px) {
  .project div .empty {
    width: 80%;
    text-align: center;
    top: calc(50% - 35px);
    left: 12%;
    position: absolute;
    color: rgb(255, 255, 255);
    z-index: 2;
    opacity: 0;
  }
}

/* Projects page */
/* Experience page */
.experiencemain .soft-lang .spa .spatxt, .experiencemain .soft-lang .eng .engtxt, .experiencemain .soft-lang .jap .japtxt {
  font-size: 20px;
  margin: 0;
  padding: 0px 8px 0px 0px;
}

.experiencemain .soft-lang .langtlt, .experiencemain .soft-lang .softcodeicon, .experiencemain .soft-lang .softarticon {
  justify-content: center;
  align-content: center;
}

.experiencemain {
  display: grid;
  row-gap: 35px;
}
.experiencemain div {
  border-radius: 4px;
  background-color: rgb(94, 190, 253);
}
.experiencemain .edu {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "tlt tlt" "edutlt  kaoedu" "edulist  kaoedu";
}
@media (max-width: 991px) {
  .experiencemain .edu {
    display: grid;
    grid-template-areas: "tlt tlt" "edutlt  kaoedu" "edulist  edulist";
  }
}
.experiencemain .edu .maintlt {
  grid-area: tlt;
  text-align: center;
  padding: 20px;
}
.experiencemain .edu .kaoedu {
  grid-area: kaoedu;
  size: 100%;
  text-align: center;
  align-content: center;
}
.experiencemain .edu .kaoedu p {
  font-size: 55px;
}
@media (max-width: 991px) {
  .experiencemain .edu .kaoedu p {
    font-size: 30px;
  }
}
@media (max-width: 500px) {
  .experiencemain .edu .kaoedu p {
    font-size: 18px;
  }
}
.experiencemain .edu .edutlt {
  grid-area: edutlt;
  text-align: center;
}
.experiencemain .edu .edulist {
  grid-area: edulist;
  display: grid;
  justify-content: center;
}
.experiencemain .exp {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "kaoexp exptlt" "kaoexp explist";
}
@media (max-width: 991px) {
  .experiencemain .exp {
    display: grid;
    grid-template-areas: "kaoexp exptlt" "explist explist";
  }
}
.experiencemain .exp .kaoexp {
  grid-area: kaoexp;
  size: 100%;
  text-align: center;
  align-content: center;
}
.experiencemain .exp .kaoexp p {
  font-size: 50px;
}
@media (max-width: 991px) {
  .experiencemain .exp .kaoexp p {
    font-size: 30px;
  }
}
@media (max-width: 500px) {
  .experiencemain .exp .kaoexp p {
    font-size: 20px;
  }
}
.experiencemain .exp .exptlt {
  grid-area: exptlt;
  text-align: center;
}
.experiencemain .exp .explist {
  grid-area: explist;
  display: grid;
  justify-content: center;
  direction: rtl;
}
@media (max-width: 991px) {
  .experiencemain .exp .explist {
    justify-content: start;
  }
}
.experiencemain .soft-lang {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "langtlt softtlt" "spa softicon1" "eng softicon2" "jap . ";
  text-align: center;
}
@media (max-width: 991px) {
  .experiencemain .soft-lang {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "softtlt " "softicon1" "softicon2" "langtlt" "spa" "eng" "jap";
    text-align: center;
  }
}
.experiencemain .soft-lang .softtlt {
  grid-area: softtlt;
  padding: 10px;
}
.experiencemain .soft-lang .langtlt {
  grid-area: langtlt;
  text-align: center;
  padding: 10px;
}
.experiencemain .soft-lang .softcodeicon {
  grid-area: softicon1;
}
.experiencemain .soft-lang .softarticon {
  grid-area: softicon2;
}
.experiencemain .soft-lang .spa {
  grid-area: spa;
}
.experiencemain .soft-lang .eng {
  grid-area: eng;
}
.experiencemain .soft-lang .jap {
  grid-area: jap;
}
/* Experience page */
/* Contact page */
.contact {
  display: grid;
  column-gap: 50px;
  grid-template-columns: 1fr 1.7fr;
}
@media (max-width: 991px) {
  .contact {
    display: grid;
    row-gap: 50px;
    grid-template-columns: none;
  }
}
.contact .contimgdiv {
  display: grid;
  justify-content: center;
}
.contact .contimgdiv .contimg {
  width: 200px;
  border-radius: 4px;
}
@media (max-width: 991px) {
  .contact .contimgdiv .contimg {
    width: 250px;
  }
}
@media (max-width: 500px) {
  .contact .contimgdiv .contimg {
    width: 100%;
  }
}
.contact h3 {
  text-align: center;
  color: rgb(13, 13, 13);
}
.contact .continfo {
  text-align: center;
}
.contact .contlist {
  list-style: none;
  color: rgb(13, 13, 13);
}
.contact .nametlt {
  color: rgb(13, 13, 13);
}
.contact .emailtlt {
  color: rgb(13, 13, 13);
}
.contact .numbertlt {
  color: rgb(13, 13, 13);
}
.contact .texttlt {
  color: rgb(13, 13, 13);
}
.contact .formbtn {
  display: grid;
  justify-content: end;
}

/* Contact page */
/* Footer */
footer {
  background-color: rgb(102, 102, 102);
  height: 200px;
}
footer .name {
  text-align: center;
  padding: 20px 0px 0px;
  font-size: 17px;
}
footer .take {
  text-align: center;
  padding: 5px 0px 0px;
}
footer .social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0px 0px 0px;
}

/* Footer */

/*# sourceMappingURL=style.css.map */
