body{
    background-image: url(/assets/img/back.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}   

/* Header */

header{
    background-color: rgb(13,13,13);
}

header nav {
    height: 150px;
}

.navbar-toggler{
    border-color: white;
}

.container-fluid{
    height: 100%;
}

.navbar-brand{
    height: 100%;
}

.offb{
    height: 90%;
}

.offcanvas-body{
    height: 120px;
}

ul{
    height: 90%;
}

form{
    height: 90%;
}

.offcanvas-header{
    background-color: rgb(0, 0, 0);
    height: 150px;
}

.logo{
    width: 50px;
}
/* Header */

/* Main page */

main{
    padding: 40px;
}

main div{
    background-color: rgb(115,36,36);
    padding: 25px;
}

main div button{
    width: 100%;
}

/* Main page */