body{
    background-image: url(/assets/img/back.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}   

.aboutbody{
    background-image: url(/assets/img/lightback.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Header */

header{
    background-color: rgb(13,13,13);
}

header nav {
    height: 150px;
}

.navbar-toggler{
    border-color: white;
}

.container-fluid{
    height: 100%;
}

.navbar-brand{
    height: 100%;
}

.offb{
    height: 90%;
}

.offcanvas-body{
    height: 120px;
}

ul{
    height: 90%;
}

form{
    height: 90%;
}

.offcanvas-header{
    background-color: rgb(0, 0, 0);
    height: 150px;
}

.logo{
    width: 50px;
}
/* Header */

/* Main page */

main{
    padding: 40px;
}

main div{
    background-color: rgb(115,36,36);
    padding: 25px;
}

main div button{
    width: 100%;
}

.fs-1{
    color: 	rgb(13,13,13);
}

.mainbutton button{
    color: 	rgb(23, 23, 23);
}

/* Main page */

/* About page */

.aboutmain div{
    background-color: rgb(94, 190, 253);
}

.meimg{
    width: 43%;
    border-radius: 15px;
    padding: 10px;
}

.meimgdiv{
    display: flex;
    align-items: center;
}

.meimgdiv .p1{
    text-align: center;
    width: 53%;
    font-size: 45px;
}

.abouttlt{
    color: 	rgb(13,13,13);
    padding: 5px;
}

.hellotlt{
    color: 	rgb(13,13,13);
}

.extratlt{
    color: 	rgb(13,13,13);
}


/* About page */

/* Footer */

footer{
    background-color: rgb(102, 102, 102);
    height: 200px;
}

footer .name{
    text-align: center;
    padding: 20px 0px 0px;
    font-size: 17px;
}

footer .take{
    text-align: center;
    padding: 5px 0px 0px;
}


.social{
    display: flex;
    justify-content: center;
    padding: 25px 0px 0px 0px;
}
/* Footer */