$colors: (
    primary-color: rgb(115, 36, 36),
    ligth-primary-color: rgb(94, 190, 253),
    secondary-color: rgb(13, 13, 13),
    terciary-color:rgb(102, 102, 102),
    forth-color: rgb(255, 255, 255)
);
