@mixin flex-aling($display, $justify, $aling){
    display: $display;
    justify-content: $justify;
    align-items: $aling;
}

@mixin box-aling($justify, $aling){
    justify-content: $justify;
    align-content: $aling;
}