body {
    background-image: url("../img/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lighttheme {
    background-image: url("../img/lightback.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}