/* Footer */
@use "sass:map";
@use "../utilities/maps" as colormap;
@use "../utilities/mixin";

footer {
    background-color: map.get(colormap.$colors,terciary-color);
    height: 200px;

    .name {
        text-align: center;
        padding: 20px 0px 0px;
        font-size: 17px;
    }

    .take {
        text-align: center;
        padding: 5px 0px 0px;
    }

    .social {
        @include mixin.flex-aling(flex, center, center);
        padding: 25px 0px 0px 0px;
    }
}

/* Footer */