/* Header */

header {
    background-color: rgb(13, 13, 13);

    nav {
        height: 150px;

        .container-fluid {
            height: 100%;

            .navbar-brand {
                height: 100%;
            }

            .logo {
                width: 50px;
            }

            .offb {
                height: 90%;

                .navbar-toggler {
                    border-color: white;
                }
            }

            .offcanvas-header {
                background-color: rgb(0, 0, 0);
                height: 150px;
            }

            .offcanvas-body {
                height: 120px;

                ul {
                    height: 90%;
                }

                form {
                    height: 90%;
                }

            }
        }
    }
}
/* Header */