/* Header */
@use "sass:map";
@use "../utilities/maps" as colormap;

header {
    background-color: map.get(colormap.$colors, secondary-color);

    nav {
        height: 150px;

        .container-fluid {
            height: 100%;

            .navbar-brand {
                height: 100%;
            }

            .logo {
                width: 50px;
            }

            .offb {
                height: 90%;

                .navbar-toggler {
                    border-color: map.get(colormap.$colors, forth-color);
                }
            }

            .offcanvas-header {
                background-color: map.get(colormap.$colors, secondary-color);
                height: 150px;
            }

            .offcanvas-body {
                height: 120px;

                ul {
                    height: 90%;
                }

                form {
                    height: 90%;
                }

            }
        }
    }
}

/* Header */